name: Repository Generator

on:
  issues:
    types: [opened, edited]

env:
  GITHUB_OWNER: ${{ github.repository_owner }} # used by Terraform GitHub provider to set the owner property

jobs:
  create-repo:
    defaults:
      run:
        working-directory: job-definitions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Parse Issue Body
        uses: peter-murray/issue-body-parser-action@67942e1e50c46767b9302401dce7e00c4204046e # commit SHA for tag v2.0.1
        id: issue_body_parser
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          issue_id: ${{ github.event.issue.number }}
          payload_marker: job-definition-yaml
          payload: yaml
      - name: Set UUID as an environment variable
        id: set_uuid
        run: |
          UUID=$(uuidgen)
          echo "$UUID"
          echo "::set-output name=uuid::$UUID"
      - name: Extract variables for repo
        id: extract
        uses: actions/github-script@v7
        env:
          ISSUE_PAYLOAD: ${{ steps.issue_body_parser.outputs.payload }}
          UUID: ${{steps.set_uuid.outputs.uuid}}
        with:
          script: |
            const inputs = JSON.parse(process.env.ISSUE_PAYLOAD);
            inputs.metadata.id=process.env.UUID
            core.setOutput('jsonFile',inputs)
      - name: Convert JSON to YAML
        id: convert_to_yaml
        run: |
          json_content="${{ steps.extract.outputs.jsonFile }}"
          echo "${json_content}"
          yaml_content=$(echo "$json_content" | jq -r '.' | yq eval -)
          echo "${yaml_content}"
