name: Persist Job Definitions
on:
  push:
    branches:
      - main
    paths:
      - job-definitions/**
permissions: write-all
jobs:
  checkout:
    runs-on: ubuntu-latest
    outputs:
      added_count: ${{steps.files-count.outputs.added_files_count}}
      modified_count: ${{steps.files-count.outputs.modified_files_count}}
      added_json: ${{steps.files-list.outputs.added_files}}
      modified_json: ${{steps.files-list.outputs.modified_files}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v40
        with:
          files: job-definitions/**
      - name: List all added files
        run: |
          for file in ${{steps.changed-files.outputs.added_files}}; do
          echo "$file was added"
          done
          for file in ${{ steps.changed-files.outputs.modified_files }}; do
          echo "$file was modified"
          done
      - id: files-count
        run: |
          echo "added_files_count=${{ steps.changed-files.outputs.added_files_count }}" >> $GITHUB_OUTPUT
          echo "modified_files_count=${{ steps.changed-files.outputs.modified_files_count }}" >> $GITHUB_OUTPUT
      - id: files-list
        run: |
          echo "added_files= $(echo "${{ steps.changed-files.outputs.added_files }}" | jq -R  -c 'split(" ")')" >> "$GITHUB_OUTPUT"
          echo "modified_files=$(echo  "${{ steps.changed-files.outputs.modified_files }}" | jq -R  -c 'split(" ")')" >> $GITHUB_OUTPUT
  apply:
    needs:
      - checkout
    environment: ${{matrix.env_short_name}}
    strategy:
      matrix:
        include:
          - env_short_name: dev
            aws_account_id: 076787413861
          - env_short_name: int
            aws_account_id: 076787413861
          - env_name: stg
            aws_account_id: 076787413861
          - env_name: prd
            aws_account_id: 076787413861
    uses: ./.github/workflows/environment.yaml
    with:
      added_count: ${{ needs.checkout.outputs.added_count > 0 }}
      added_json: ${{fromJson(needs.checkout.outputs.added_json)}}
      modified_count: ${{ needs.checkout.outputs.modified_count > 0 }}
      modified_json: ${{fromJson(needs.checkout.outputs.modified_json)}}
