name: Lamda invoke Job
on:
  push:
    branches:
      - main
    paths:
      - job-definitions/**
permissions: write-all
jobs:
  checkout:
    runs-on: ubuntu-latest
    outputs:
      payload_json: ${{steps.create-json.outputs.payload_json}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v40
        with:
          files: job-definitions/**
      - name: List all added files
        run: |
          for file in ${{steps.changed-files.outputs.added_files}}; do
          echo "$file was added"
          done
          for file in ${{ steps.changed-files.outputs.modified_files }}; do
          echo "$file was modified"
          done
      - name: Create JSON payload
        id: create-json
        run: |
          added_files="${{ steps.changed-files.outputs.added_files }}"
          modified_files="${{ steps.changed-files.outputs.modified_files }}"
          added_files_count="${{ steps.changed-files.outputs.added_files_count }}"
          modified_files_count="${{ steps.changed-files.outputs.modified_files_count }}"
          payload='{"payload": ['
          payload+="{\"files\": \"$added_files\", \"count\": \"$added_files_count\", \"action\": \"CREATE\"},"
          payload+="{\"files\": \"$modified_files\", \"count\": \"$modified_files_count\", \"action\": \"UPDATE\"}"
          payload+=']}'
          echo "::set-output name=payload_json::$payload"

  persist-job:
    needs: [checkout]
    strategy:
      matrix:
        include: ${{fromJson(needs.checkout.outputs.payload_json).payload}}
    uses: ./.github/workflows/persist-job.yaml
    with:
      matrix: ${{ toJSON(matrix) }}
      files: ${{ fromJSON(toJSON(matrix)).files }}
      action: ${{fromJSON(toJSON(matrix)).action}}
      count: ${{fromJSON(toJSON(matrix)).count}}
