name: pull-request-shared-package
on:
  push:
    branches:
      - main
    paths:
      - job-definitions/**
jobs:
  check-if-version-bumped:
    name: Check if version bumped
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: thasija-wbd/check-if-version-bumpedd
        with:
          path: "${{ matrix.dir }}/package.json"

  pr-ready:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - check-if-version-bumped
    steps:
      - run: echo 'PR is ready to merge'
