name: Invoke Job Lambda
on:
  workflow_call:
    inputs:
      file:
        required: true
        description: >
          The file that have been either newly created or updated within the context of the job-definition workflow.
        type: string
      action:
        required: true
        description: >
          The directive indicating the state of an API call, 
          specifying whether the operation pertains to creating a new entity ('CREATE') or updating an existing one ('UPDATE').
        type: string
      # account-id:
      #   required: true
      #   type: string

jobs:
  transform:
    name: transform
    runs-on: ubuntu-latest
    outputs:
      json_file: ${{ steps.transform-yaml-to-json.outputs.json_file }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Transform yaml file to json
        env:
          FILE: ${{ inputs.file }}
        id: transform-yaml-to-json
        run: |
          json_file="${FILE%.yml}.json"
          yq -o=json "$FILE" > "$json_file"
          echo "json_file=$json_file" >> $GITHUB_OUTPUT
  invoke:
    name: invoke
    needs: transform
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - env_short_name: dev
            aws_account_id: 727224480698
          - env_short_name: int
            aws_account_id: 727224480698
          - env_name: stg
            aws_account_id: 727224480698
          - env_name: prd
            aws_account_id: 727224480698
    environment: ${{matrix.env_short_name}}
    steps:
      - name: Configure AWS creds
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::076787413861:role/test-iam
          role-session-name: deploysession
          aws-region: us-east-1
      - name: Call the job persister lambda function
        env:
          ACTION: ${{inputs.action}}
          JSON_FILE: ${{ needs.transform.outputs.json_file }}
        id: call-api
        run: |
          aws lambda invoke \
            --function-name test-function \
            --cli-binary-format raw-in-base64-out \
            --payload "$(jq -c --arg action "$ACTION" '{action: $action, payload: .}' "$JSON_FILE")" \
            response.json
