name: Invoke Job Lambda
on:
  workflow_call:
    inputs:
      file:
        required: true
        description: >
          The file that have been either newly created or updated within the context of the job-definition workflow.
        type: string
      action:
        required: true
        description: >
          The directive indicating the state of an API call, 
          specifying whether the operation pertains to creating a new entity ('CREATE') or updating an existing one ('UPDATE').
        type: string
      account-id:
        required: true
        type: string

jobs:
  transform:
    name: transform
    runs-on: ubuntu-latest
    outputs:
      json_file: ${{ steps.transform-yaml-to-json.outputs.json_file }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Transform yaml file to json
        id: transform-yaml-to-json
        run: |
          echo "json_file=$(yq eval -o=json "${{ inputs.file }}")" >> $GITHUB_OUTPUT
  invoke:
    needs: transform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Configure AWS creds
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::${{inputs.account-id}}:role/test-iam
          role-session-name: deploysession
          aws-region: us-east-1
      - name: Call the job persister lambda function
        id: call-api
        run: |
          echo ${{ needs.transform.outputs.json_file }}
          json-payload=$( jq -n --arg action "${{ inputs.action }}" \
          --arg payload "${{ needs.transform.outputs.json_file }} \
          '$ARGS.named'
          ) 
          aws lambda invoke \
          --function-name test-function \
          --payload file://json-payload \
          response.json
