name: Invoke Job Lambda
on:
  workflow_call:
    inputs:
      file:
        required: true
        description: >
          The file that have been either newly created or updated within the context of the job-definition workflow.
        type: string
      action:
        required: true
        description: >
          The directive indicating the state of an API call, 
          specifying whether the operation pertains to creating a new entity ('CREATE') or updating an existing one ('UPDATE').
        type: string
      account-ids:
        required: true
        type: string

jobs:
  transform:
    strategy:
      fail-fast: false
      matrix:
        include: ${{fromJson(inputs.account-ids)}}
    name: transform
    environment: ${{matrix.env_short_name}}
    runs-on: ubuntu-latest
    outputs:
      json_file: ${{ steps.transform-yaml-to-json.outputs.json_file }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Transform yaml file to json
        id: transform-yaml-to-json
        run: |
          json_file="${{ inputs.file }}.json"
          yq -o=json "$FILE" > "$json_file"
          echo "json_file=$json_file" >> $GITHUB_OUTPUT
      - name: Configure AWS creds # DONE
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::${{matrix.aws_account_id}}:role/test-cool
          role-session-name: deploysession
          aws-region: us-east-1
      - name: Call the job persister lambda function # DONE
        id: call-api
        run: |
          jq -c --arg action "${{ inputs.action }}" '{action: $action, payload: .}' "${{ steps.transform-yaml-to-json.outputs.json_file }}" > output.json
          aws lambda invoke \
            --function-name test-function \
            --cli-binary-format raw-in-base64-out \
            --payload file://output.json \
            response.json
