name: convert-yaml-to-json

on:
  push:
    branches:
      - main
    paths:
      - "job-definitions/**"

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2 # Ensure the entire Git history is available

      - name: Install yq
        run: |
          sudo add-apt-repository ppa:rmescandon/yq -y
          sudo apt-get update
          sudo apt-get install yq -y

      - name: Detect changed YAML files
        id: detect-changed-yaml
        run: |
          CHANGED_YAML=$(git diff --name-only ${{ github.event.before }}..${{ github.sha }} -- job-definitions/**)
          CHANGED_YAML_COUNT=$(echo "$CHANGED_YAML" | wc -l)
          echo "Changed YAML files: $CHANGED_YAML_COUNT"
          echo "changed yaml : $CHANGED_YAML"
          concatenated_lines=""
          for ((i=1; i<=CHANGED_YAML_COUNT; i++)); do
            line=$(echo "$CHANGED_YAML" | sed -n "${i}p")
            concatenated_lines="${concatenated_lines}${line}|"
          done

          concatenated_lines="${concatenated_lines%|}"
          echo "::set-output name=changed_yaml:: $concatenated_lines "

      - name: Convert YAML to JSON
        id: convert-yaml-to-json
        run: |
          JSON_FILES=()
          IFS='|' read -ra files_array <<< "${{steps.detect-changed-yaml.changed_yaml}}"
          for FILE in "${files_array[@]}"; do
            echo "Converting $FILE to JSON..."
            json_content=$(yq eval "$FILE" -o=json)
            json_file="${FILE%.yml}.json"
            echo "$json_content" > "$json_file"
            echo "Converted JSON content saved to $json_file"
            JSON_FILES+=("$json_file")
          done
          echo "::set-output name=json_files::${JSON_FILES[@]}"

      - name: Echo JSON files
        run: |
          for JSON_FILE in ${{ steps.convert-yaml-to-json.outputs.json_files }}; do
            echo "Contents of JSON file: $JSON_FILE"
            cat "$JSON_FILE"
          done
