name: test-workflow

on:
  push:
    branches:
      - main
    paths:
      - "job-definitions/**"

jobs:
  validate:
    name: "find changed yaml file content"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}
          fetch-depth: 2
      - name: Detect now yaml file changes
        id: detect-now-yaml-changes
        run: |
          EXCLUDE_AUTO_COMMIT_CHANGES=false
          CHANGED_FILES=$(git diff --name-only HEAD^ HEAD -- job-definitions/)
          CHANGED_FILES_COUNT=$(echo "$CHANGED_FILES" | wc -l)
          echo $CHANGED_FILES
          if [ "$CHANGED_FILES_COUNT" -gt 0 ]; then
            for FILE in $CHANGED_FILES; do
              echo "Content of changed YAML file $FILE:"
              cat "$FILE"
              # Pass the file to the next step
              echo "::set-output name=changed_file::$FILE"
            done
          else
            echo "No YAML files found in the changes."
      - name: Convert yaml to json
        uses: fabasoad/data-format-converter-action@v0
        id: yaml2json
        with:
          input: "${{ steps.detect-now-yaml-changes.outputs.changed_file }}"
          from: "yaml"
          to: "json"
      - name: Print result
        run: echo "${{ steps.yaml2json.outputs.output }}"
