name: convert-yaml-to-json

on:
  push:
    branches:
      - main
    paths:
      - "job-definitions/**"

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2 # Ensure the entire Git history is available

      - name: Install dependencies
        run: |
          sudo add-apt-repository ppa:rmescandon/yq -y
          sudo apt-get update
          sudo apt-get install yq -y
          sudo apt-get install jq

      - name: Detect changed YAML files
        id: detect-changed-yaml
        run: |
          CHANGED_YAML=$(git diff --name-only ${{ github.event.before }}..${{ github.sha }} -- job-definitions/**)
          CHANGED_YAML_COUNT=$(echo "$CHANGED_YAML" | wc -l)
          echo "Changed YAML files: $CHANGED_YAML_COUNT"
          echo "Changed YAML files: $CHANGED_YAML"

          # Initialize an array to store YAML contents
          YAML_CONTENT_ARRAY=()

          # Loop through changed YAML files
          for FILE in $CHANGED_YAML; do
            YAML_CONTENT=$(cat "$FILE")
            YAML_CONTENT_ARRAY+=("${YAML_CONTENT} -------")
          done

          # Join array elements into a single string
          concatenated_lines=$(IFS=$'\n'; echo "${YAML_CONTENT_ARRAY[*]}")

          # Remove trailing ' -------' from the concatenated lines
          concatenated_lines="${concatenated_lines% -------}"

          # Output the concatenated lines as a JSON-encoded string
          echo "::set-output name=changed_yaml::${concatenated_lines}"

      - name: calling custom-action-to-test
        uses: thasija-wbd/test-custom-action@v0.0.2
        with:
          yaml_files: ${{ steps.detect-changed-yaml.outputs.changed_yaml }}
