name: convert-yaml-to-json

on:
  push:
    branches:
      - main
    paths:
      - "job-definitions/**"

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 2 # Ensure the entire Git history is available

      - name: Install yq
        run: |
          sudo add-apt-repository ppa:rmescandon/yq -y
          sudo apt-get update
          sudo apt-get install yq -y

      - name: Detect changed YAML files
        id: detect-changed-yaml
        run: |
          CHANGED_YAML=$(git diff --name-only ${{ github.event.before }}..${{ github.sha }} -- job-definitions/*.yml)
          CHANGED_YAML_COUNT=$(echo "$CHANGED_YAML" | wc -l)
          echo "Changed YAML files:"
          echo "$CHANGED_YAML"
          echo "::set-output name=changed_yaml::$CHANGED_YAML"

      - name: Convert YAML to JSON
        id: convert-yaml-to-json
        run: |
          for FILE in ${{ steps.detect-changed-yaml.outputs.changed_yaml }}; do
            echo "Converting $FILE to JSON..."
            json_content=$(yq eval "$FILE" -o=json)
            json_file="${FILE%.yml}.json"
            echo "$json_content" > "$json_file"
            echo "Converted JSON content saved to $json_file"
          done
